body{
	margin-top: 15px;
}
.box{
	min-height: 60px;
	background-color: green;
	margin-bottom: 12px;
	font-size: 29px;
	
}
.black{
	background-color: aqua;
}
.blue{
	background-color: blue;

}